<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jpggram.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jpggram.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jpggram</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$jpggram</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cp8y1p8bxs.database.windows.net,1433;Initial Catalog=jpggramAdGgrfXpp;User ID=servertnik44@cp8y1p8bxs;Password=505095Qwerty!" Name="Data Source=tcp:cp8y1p8bxs.database.windows.net,1433;Initial Catalog=jpggramAdGgrfXpp;User Id=servertnik44@cp8y1p8bxs;Password=505095Qwerty!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="jpggram.Models.UsersContext, jpggram" MigrationConfiguration="jpggram.Migrations.Configuration, jpggram" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cp8y1p8bxs.database.windows.net,1433;Initial Catalog=jpggramAdGgrfXpp;User Id=servertnik44@cp8y1p8bxs;Password=505095Qwerty!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>