@{
    ViewBag.Title = "Информационный буклет";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Ты попал на страницу, где тебе объяснят, что тут делать :)
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>С чего начать</h5>
        Если еще не зарегестрировался, то стоит начать именно с этого! Почему? 
        Потому-что без этого функционал сайта для тебя будет урезан вдвое! 
        Смотреть фоточки других можно и так, а вот выкладывать свои - никак нет.
    </li>

    <li class="two">
        <h5>Мои фото</h5>
        На страничке мои фото ты можешь загружать собственные фото на сайт!
        Помни, они сразу становятся видны всем посетителям сайта.
    </li>

    <li class="three">
        <h5>Люди</h5>
        Наконец, на странице Люди ты можешь выбрать любого зарегестрированного 
        пользователя и посмотреть, какие он выкладывал фотки!
        Удачи! ;)
    </li>
</ol>
