@model Photo
@using jpggram.Models
@{
    ViewBag.Title = "Фото";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("FileUpload", "Photos", FormMethod.Post, 
                            new { enctype = "multipart/form-data" }))
{  
    <label for="file">Выбери фото, которое хочешь опубликовать:</label> 
    <input type="file" name="file" id="file" style="width: 100%;" /> 
    <input type="submit" value="Опубликовать" class="submit" /> 
}

    

@foreach (Photo item in ViewBag.Photos)
{
    <div class="photo">
        <img src="@item.Url" width="420"> <br />
        <p class="title">
            @item.Date <span>(@Html.ActionLink("Удалить", "Delete", new { id = item.PhotoId }))</span>
        </p>
    </div>
}
